
@font-face {
   font-family: 'ArgentumSans wght';
   src: url('fonts/ArgentumSans_wght.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
body {
  font-family: 'ArgentumSans wght', sans-serif;
	box-sizing: border-box;
	background: #0f0f0f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	gap: 20px;
}
.body1 {
	box-sizing: border-box;
	max-width: 1700px;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	overflow: hidden;
}
.t14{
	font-size: 24px;
	color: #f0f0f0;
}
.span-1 {
  	background: rgba(64, 64, 64, 0);
 	border-bottom: solid;
  	border-color: #aaa;
  	border-width: 1px;
  	display: flex;
  	flex-direction: column;
	flex-wrap: wrap;
  	position: relative;
  	overflow: hidden;
	justify-content: center;
	margin-top: 1vh;
}
.banner {
  	background: rgba(64, 64, 64, 0);
  	border-radius: 15px;
  	border-style: none;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 1;
  	position: relative;
  	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-bottom: 15px
}
.banner img {
	max-width: 100%;
	height: auto;
}
.topdiv-1 {
  	background: none;
  	border-style: none;
  	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
	overflow: hidden;
	padding: 0 10vw 0 10vw;
	margin: 0 5vw 0 5vw;
	max-width: 100%;
}
.button {
  background: rgba(64, 64, 64, 0);
  border-radius: 18px;
  border-style: none;
  flex-shrink: 1;
  max-width: 80px;
  max-height: 36px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.link-button {
	display: flex;
	border: hidden;
	border-radius: 40px;
	background: none;
  	cursor: pointer;
  	padding: 2rem 0rem 2rem 0rem;
  	transition: all 0.3s ease;
}
.link-img{
	max-width: 150px;
	width: 15vw;
	border:hidden;
	border-radius: 15px;
	
	
}
.link-button:active {
	transform: scale(0.90);
}
.link-button.clicked {
  animation: clickAnimation 0.5s ease; /* Animation on click */

}@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.menu {
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 1;
  max-width: 1284px;
  height: 62px;
  position: relative;
  overflow: hidden;
}
.tab-button {
    position: relative;
    font-weight: 500;
    color: #aaa;
    font-size: 1rem;
	line-height: 2.2rem;
    background-color: transparent;
    border: none;
    text-decoration: none;
}
.tab-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #aaa;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s, width 0.3s;
}
.tab-button:hover::after,
.tab-button.active::after {
    width: calc(100% + 12px);
    transform: translateX(-50%) scaleX(1);
}
.tab-button.active {
    font-weight: bold;
    color: #f0f0f0; /* Change to your desired color for the active tab text */
}
.tab-content {
    display: none;
	justify-content: center;

}
.tab-content.active {
    display: flex;
	overflow: hidden;
	align-content: center;
	flex-direction: row;
	flex-shrink: 1;
	width: 100%;
	position: relative;
}
.tabs {
  display: flex;
	align-content: center;
	justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.tabs + .tab-content {
  margin-top: 10px; /* Adjust as needed */
}
.span-2 {
	padding-top: 20px;
	border-bottom: 1px solid #777;
  	display: flex;
	flex-direction: column;
  	flex-shrink: 1;
	justify-content: center;
  	position: relative;
  	overflow: hidden;
}
.vid-1 {
  	display: flex;
	align-items: center;
  	flex-shrink: 1;
  	position: relative;
}
.flavour {
	display: flex;
	align-content: center;
	background: rgba(64, 64, 64, 0);
  	border-radius: 2px;
  	border-style: none;
	flex-wrap: wrap;
  	flex-shrink: 1;
  	max-height: 300px;
	max-width: 400px;
  	position: relative;
  	overflow: hidden;
	
}
.text1 {
  	font-weight: 100;
	padding-left: 10px;
  	display: inherit;
	flex-wrap: wrap;
	color: #AAA;
  	flex-shrink: 1;
  	overflow: hidden;
}
.span-3 {
	display: flex;
	background: rgba(64, 64, 64, 0);
	width: 80vw;
	max-width: 1700px;
  	position: relative;
	align-self: center;
}
.frame-3 {
	background: rgba(64, 64, 64, 0);
  	display: flex;
	margin: 40px;
	position: relative;
}
.vid2 {
	display: flex;
	align-content: center;
  	border-radius: 8px;
  	object-fit: contain;
	width: 80vw;
	max-width: 1283px;
	position: relative;
	flex-shrink: 1;
}
/* media queries*/

@media (max-width: 960px){
	.text{
		display:none;
	}
}